{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real estate management system About us page</title>
    <link rel="stylesheet" href="{% static 'css/about.css'  %}">
</head>
<body>
    <header>
        <div class="header-left">
          <a href="homepage" style="color: white;">RealEstate</a>
      </div>
      </header>

    <div class="header">
        <h1>ABOUT US</h1>
    </div>

    <div class="new">
        <h2 class="two">Our Vision:</h2>
        <p class="three">At Real Estate Management System, our vision is to simplify property <br>management by leveraging technology.
                       We aim to provide a comprehensive <br>platform that streamlines the processes involved in real estate management.</p>
        
        <h2 class="four">Who We Are:</h2>
        <p class="five">We are a dedicated team of professionals passionate about transforming the real<br> estate industry.
                      Our expertise lies in creating user-friendly and efficient software <br>solutions tailored for property owners, managers, and tenants.</p>

        <h2 class="six">Our Mission:</h2>
         <p class="seven">Our mission is to empower real estate professionals with cutting-edge tools, <br>allowing them to manage properties with ease,
                      enhance communication,<br> and ultimately drive success in their ventures. We strive to deliver <br>innovative solutions that add value to the real estate ecosystem.</p>
    </div>
</body>
</html>