{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>
<body>
    <div class="single">
        <h1 class="header">Contact-Us</h1>
        <footer>
            <p class="call">Cell No: +918593620941</p>
        </footer>
        <div class="second">
            <img src="https://www.livermoreschools.org/cms/lib/CA50000061/Centricity/Domain/72/HelpDesk%20White%20C.png" alt="Your Image">
        </div>
        <div class="container">
            <form id="contactForm" action="{% url 'contact' %}" method="post">
                {% csrf_token %}
                <label for="fname">Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name.." required>
            
                <label for="lname">Email-ID</label>
                <input type="email" id="lname" name="lastname" placeholder="email-id.." required>

            
                <label for="country">Which problem are you facing?</label>
                <select id="country" name="country" required>
                    <option value="buying">Buying</option>
                    <option value="selling">Selling</option>
                    <option value="agents">Agents</option>
                </select>

                
                <label for="subject">Your Insights</label>
                <textarea id="subject" name="subject" placeholder="Write about the problem briefly.." style="height:200px" required></textarea>

                <input type="submit" value="Submit" class="submit-btn">
                <button type="button" class="clr" onclick="clearForm()">Clear</button>
            </form>
        </div>
    </div>

    <script>
        function clearForm() {
            document.getElementById("contactForm").reset();
        }
    </script>
</body>
</html>
